<section id="wedo" class="mat-typography" [ngStyle.lt-md]="{'margin-top': '50px', 'margin-bottom': '50px'}">
	<div class="container">

		<div class="sub-title" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
			<div fxFlex="50">
				<h2 align="right" [ngStyle.lt-md]="{'margin-bottom': '15px'}">WHAT WE DO</h2>
			</div>
			<div fxFlex="50" fxFlexAlign="left">
				<h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">WHAT WE DON'T</h2>
			</div>
		</div>

		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="wedo-items">

			<div fxFlex="50">
				<div class="small" align="right">
					<p class="wedo-item right"><i class="material-icons">check</i>Smile :)</p>
					<p class="wedo-item right"><i class="material-icons">check</i>Love what we do</p>
					<p class="wedo-item right"><i class="material-icons">check</i>Build relationships</p>
					<p class="wedo-item right"><i class="material-icons">check</i>Deliver the best results</p>
					<p class="wedo-item right"><i class="material-icons">check</i>Exceed expectations</p>
					<p class="wedo-item right"><i class="material-icons">check</i>Be responsible and honest</p>
					<p class="wedo-item right"><i class="material-icons">check</i>Be happy</p>
					<p class="wedo-item right"><i class="material-icons">check</i>Work with conviction</p>
					<p class="wedo-item right"><i class="material-icons">check</i>Have quality of life</p>
					<p class="wedo-item right"><i class="material-icons">check</i>Learn and teach</p>
					<p class="wedo-item right"><i class="material-icons">check</i>Drink coffee</p>
				</div>
			</div>

			<div fxFlex="50">
				<div class="small">
					<p class="wedo-item"><i class="material-icons">cancel</i>Waste time</p>
					<p class="wedo-item"><i class="material-icons">cancel</i>Reject opportunities</p>
					<p class="wedo-item"><i class="material-icons">cancel</i>Judge others</p>
					<p class="wedo-item"><i class="material-icons">cancel</i>Impossible deadlines</p>
					<p class="wedo-item"><i class="material-icons">cancel</i>Work for free</p>
					<p class="wedo-item"><i class="material-icons">cancel</i>Live without purpose</p>
					<p class="wedo-item"><i class="material-icons">cancel</i>Work without strategy</p>
					<p class="wedo-item"><i class="material-icons">cancel</i>Gossip</p>
					<p class="wedo-item"><i class="material-icons">cancel</i>Embrace negativity</p>
					<p class="wedo-item"><i class="material-icons">cancel</i>Give up</p>
					<p class="wedo-item"><i class="material-icons">cancel</i>Reject diversity</p>
				</div>
			</div>
		</div>
	</div>
</section>
